* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* topo */
.icon {
    font-size: 30px;
    color: rgb(168, 168, 168);
}


.login button {
    border: 1px solid black;
    padding: 8px 17px;
    transition: background 0.5s, color 0.5s;
}

/* Topo
-- burger --
*/
.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border: none;
}

.fa-solid, .fas {
    font-weight: 900;
    border: none;
}


/* Area de texto */
.align-self-center {
    ;
}

.align-self-center>h1 {
    font-size: 3.3rem;
}

.align-self-center p {
    font-size: 14px;
}

.align-self-center button {
    background: rgba(0, 0, 0, 0.945);
    color: #fff;
    padding: 7px 25px;
    border-radius: 10px;
}



/* Media query */ 
/*X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .d-flex img {
        margin-top: 10px;
        order: 1;
        width: 320px;
        height: 420px;
       }
       .align-self-center {
        order: 2;
       }
       .align-self-center h1 {
        font-size: 2.5rem;
        text-align: center;
       }
       .align-self-center p {
        text-align: center;
       }
       .align-self-center button {
        margin: 36%;
       }
       .barra-icone {
        margin-left: 24%;
        margin-bottom: 20px;
       }
    }
  

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .d-flex img {
        margin-top: 10px;
        order: 1;
        width: 320px;
        height: 420px;
       }
       .align-self-center {
        order: 2;
       }
       .align-self-center h1 {
        font-size: 2.5rem;
        text-align: center;
       }
       .align-self-center p {
        text-align: center;
       }
       .align-self-center button {
        margin: 37%;
       }
       .barra-icone {
        margin-left: 24%;
        margin-bottom: 20px;
       }
    }

   
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
   .d-flex img {
        width: 390px;
        height: 450px;
    }
}


 /* Large devices (desktops, 992px and up) */
 @media (min-width: 992px) and (max-width: 1199.98px) { 
    .d-flex .barra-icone li  {
        padding: 14px;
    }
    

/* X-Large devices (large desktops, 1200px and up) */

/* XX-Large devices (larger desktops, 1400px and up) */



/* fim folha de estilo */